<<<<<<< HEAD
<h1>Detalles del Libro</h1>
<div>Nombre: <%= @book.title %></div>
<div>Autor: <%= @book.author %></div>
<div>Descripci贸n: <%= @book.description %></div>
<div>Fecha de publicaci贸n: <%= @book.publication_date %></div>
<div>Precio: <%= @book.price %></div>
=======
<h1>Detalles del Libro</h1>
<div>Nombre: <%= @book.title %></div>
<div>Autor: <%= @book.author %></div>
<div>Descripci贸n: <%= @book.description %></div>
<div>Fecha de publicaci贸n: <%= @book.publication_date %></div>
<div>Precio: <%= @book.price %></div>
>>>>>>> 63c162ed6f6f39aff0fb9217a17c12ac009d172c
